<form [formGroup]="form" (submit)="onFormSubmit()">
    <!-- Name Input -->
    BrandId: <input type="text" formControlName="brandId" />
    <div *ngIf="form.get('brandId')?.errors && form.get('brandId')?.touched">
      {{form.get('brandId')?.errors |  controlErrorMessage}}
    </div>
    Name: <input type="text" formControlName="name" />
    ModelYear: <input type="text" formControlName="modelYear" />
    imageUrl: <input type="text" formControlName="imageUrl" />
    DailyPrice: <input type="text" formControlName="dailyPrice" />
    
    <button type="submit">Submit</button>
  </form>
  
